<h2 id="title">Registration</h2>

<div class="row">
  <div class="col-md-6">
    {{users.sign-up-form 
      user=model 
      errors=errors 
      responseMessage=responseMessage 
      action='saveUser'}}
  </div>
</div>